body {
  background-color: lightgray;
}

nav {
  display: none;
}

#home-page {
  height: 100%;
  width: 100%;
}

#new-button {
  height: 113px;
  width: 302px;
  position: fixed;
  top: 225px;
  left: 18px;
  background-size: 100%;
  background-image: url("../img/D1_page01-02.png");
  background-repeat: no-repeat;
}

#join-button {
  height: 113px;
  width: 302px;
  position: fixed;
  top: 338px;
  left: 18px;
  background-size: 100%;
  background-image: url("../img/D1_page01-07.png");
  background-repeat: no-repeat;
}

#dealer-game-new {
  display: none;
}

#dealer-deck-index {
  display: none;
}

#dealer-game-show {
  display: none;
}

#game-over {
  display: none;
}
